
.button--danger {
  background: #cb4437;
  color: #ffffff;
  border: 1px solid #e6e6e6;
  border-color: transparent;
}

.circular-profile {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	background: url(https://googledrive.com/host/0BzHGZg_MuQ8Kc2JmcVNhUkNaZVE/empltyprofile.jpg) no-repeat;
	}



.circular-profile img {
	opacity: 0;
	filter: alpha(opacity=0);
	}